<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <p>Please ensure the meal you are about to add doesn't already exist below</p>

  <table>
    <% meals.forEach(meal => { %>
      <tr>
        <td>
          <form action="/meals/new/<%= meal._id %>?_method=DELETE" method="POST">
            <button class="del">x</button>
            <%= meal.name %>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>

    <ul>
    </ul>
  

  <form id='new-form' action="/meals" method="POST">
    <label for="name-input">Name:</label>
    <input 
    type="text" 
    name="name" 
    id="name-input" 
    value = "<%= req.query ? req.query.err : '' %>"
    class = "<%= req.query.err ? 'red' : '' %> "
    required>
    <% if (req.query.err) { %>
      <span class="err">Meal already exists</span>
    <% } %>
    <button type="submit">Add new meal</button>
  </form>
  <% if (req.query.removedFrom) { %>
    <p>Removed <%= req.query.meal %> from flights: 
      <%= req.query.removedFrom %>
    </p>
  <% } %>
</main>

<%- include('../partials/footer') %>