<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Current Flights</h1>
  <table>
    <thead>
      <tr>
        <th colspan="2" class="no-bottom"></th>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departure Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights .forEach(flight => { %>
        <%# flight.departs.getTime() %> 
        <%# new Date().getTime() %> 
        <tr <%= flight.departs.getTime() < new Date().getTime() ? 'class=red' : '' %>>
          <td>
            <form 
              action="/flights/<%= flight._id %>?_method=DELETE"
              method="POST"
            >
              <button class="delete-button">X</button>
            </form> 
          </td>
          <td><a href="/flights/<%= flight._id %>">Details</a></td>
          <td><%= flight.flightNo %> </td>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.departs.toLocaleDateString() %>  <%= flight.departs.toLocaleTimeString([], {hour: "2-digit", minute: "2-digit"}) %> </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>