<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departing Day: </div>
    <div><%= flight.departs.toLocaleDateString() %></div>
    <div>Departing Time: </div>
    <div><%= flight.departs.toLocaleTimeString() %></div>
  </section>
  <section>
    <a href="/flights/<%= flight._id %>/edit"><button class="edit-button">Edit Flight</button></a>
    <a href="/flights/"><button class="edit-button">Back to flights</button></a>
  </section>
  <h2>Tickets</h2>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th class="no-bottom"></th>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td>
              <form id="ticket-display" 
              action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE"
              method="POST">
                <button type="submit" class='delete-button'>X</button>
              </form>
            </td>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %> 
    <h3>This flight has no tickets sold.</h3>
  <% } %> 
  <form
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat: </label>
    <input required placeholder="A1 - F9" name="seat" id="seat-input">
    <label for="price-input">Price: </label>
    <input required name="price" id="price-input">
    <button type="submit">Add ticket</button>
  </form>
</main>

<%- include('../partials/footer') %>